NvVars
*.AppImage
*.pdb
*.lib
*.txt
*.exe
*.EXE
*.pdf
*.efi
*.obj
*.img
*.py
*.map
*.pem
*.der
*.bin
*.sig
*.mui
cl.bat
error.log
.claude/settings.local.json
memory/feedback_smp_idle_bug.md
memory/project_kernel_build_process.md
walkthrough.md
qemu.log
efi/boot/bootx64.efi.i64
efi/boot/bootx64.efi.id0
efi/boot/bootx64.efi.id1
efi/boot/bootx64.efi.id2
efi/boot/bootx64.efi.nam
efi/boot/bootx64.efi.til
.aider*
*.docx
*.log
passwd
sudoers